@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/ProximaNovaSemibold.eot');
    src: url('../fonts/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaSemibold.woff2') format('woff2'),
         url('../fonts/ProximaNovaSemibold.woff') format('woff'),
         url('../fonts/ProximaNovaSemibold.ttf') format('truetype'),
         url('../fonts/ProximaNovaSemibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_thin';
    src: url('../fonts/ProximaNovaThin.eot');
    src: url('../fonts/ProximaNovaThin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaThin.woff2') format('woff2'),
         url('../fonts/ProximaNovaThin.woff') format('woff'),
         url('../fonts/ProximaNovaThin.ttf') format('truetype'),
         url('../fonts/ProximaNovaThin.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AkkuratLightRegular';
    src: url('../fonts/AkkuratLightRegular.eot');
    src: url('../fonts/AkkuratLightRegular.eot') format('embedded-opentype'),
         url('../fonts/AkkuratLightRegular.woff2') format('woff2'),
         url('../fonts/AkkuratLightRegular.woff') format('woff'),
         url('../fonts/AkkuratLightRegular.ttf') format('truetype'),
         url('../fonts/AkkuratLightRegular.svg#AkkuratLightRegular') format('svg');
}
@font-face {
    font-family: 'AkkuratRegular';
    src: url('../fonts/AkkuratRegular.eot');
    src: url('../fonts/AkkuratRegular.eot') format('embedded-opentype'),
         url('../fonts/AkkuratRegular.woff2') format('woff2'),
         url('../fonts/AkkuratRegular.woff') format('woff'),
         url('../fonts/AkkuratRegular.ttf') format('truetype'),
         url('../fonts/AkkuratRegular.svg#AkkuratRegular') format('svg');
}
@font-face {
    font-family: 'AkkuratBold';
    src: url('../fonts/AkkuratBold.eot');
    src: url('../fonts/AkkuratBold.eot') format('embedded-opentype'),
         url('../fonts/AkkuratBold.woff2') format('woff2'),
         url('../fonts/AkkuratBold.woff') format('woff'),
         url('../fonts/AkkuratBold.ttf') format('truetype'),
         url('../fonts/AkkuratBold.svg#AkkuratBold') format('svg');
}

body{font-family: "AkkuratRegular", Arial;font-size: 12px;font-weight: 400;}
.fluid-list{width: 100%;display: inline-block;vertical-align: top;}
.reset-ul{list-style: none;padding-left: 0;margin-bottom: 0;}
.left{float: left;}
.right{float: right;}
body.b-page, body.b-cupon{background: #faf7f7;}
/*Header*/
header{height: 70px;background: #fff;-webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.3);}
header nav{margin-bottom: 0!important;border:0!important;border-radius: 0!important;min-height: 70px!important;background: #fff!important;z-index: 9;}
header .navbar-brand{padding: 0;}
.user-list>li>a{display: block;font-size: 19px;color: #4a4a4a!important;padding: 0;padding: 11px 0;}
.user-list li .user{width: 48px;height: 48px;display: inline-block;vertical-align: middle;background: url(../img/ico-user.png) no-repeat;background-size: 100% 100%;}
.user-list .dropdown-menu{margin-top: 5px!important;padding: 8px 0;border-radius: 5px!important;}
.user-list .dropdown-menu>li>a{color: #4a4a4a;font-size: 17px;font-weight: 400;padding: 3px 15px;}
.cnt-city{height: 40px;width: 250px;border:1px solid #d8d8d8;border-radius: 3px;float: left;margin-top: 15px;padding: 10px 8px;font-size: 17px;color: #4a4a4a;line-height: 100%;}
.cnt-city>span{width: 17px;height: 17px;background: url(../img/ico-city.png) no-repeat;background-size: 100% 100%;margin-right: 5px;display: inline-block;vertical-align: top;}
.custom-nav-bar.navbar-default .navbar-toggle{border-color:transparent;}
.list-menu-m{display: none;padding: 15px 5px;}
.list-menu-m li{margin-bottom: 8px;}
.list-menu-m li a{font-size: 16px;color: #000;font-family: "AkkuratLightRegular", arial;display: block;}
.list-menu-m li:last-child{margin-bottom: 0;}
/*Section*/
.wrapper{padding: 15px 0;}
.item-category{margin-bottom: 12px;position: relative;}
.item-category>span{margin-right: 55px;font-size: 17px;color: #4a4a4a;margin-left: 12px;font-family: "AkkuratBold", arial;position: absolute;left: 0;top: 0;}
.cnt-content-list-cat{padding-left: 140px;}
.list-cat-cnt{display: block;float: left;width: 100%;white-space: nowrap;overflow-x: auto;-webkit-overflow-scrolling: touch;-ms-overflow-style: -ms-autohiding-scrollbar;}
.item-category ul{}
.item-category ul li{display: inline-block;text-align: left;vertical-align: middle;margin-left: 10px;margin-right: 10px;}
.item-category ul li:last-child{margin-right: 0;}
.item-category ul li a{display: block;font-size: 17px;color: #9b9b9b;font-family: "AkkuratLightRegular", arial;margin-bottom: 8px;}
.item-category ul li a:hover, .item-category ul li a:active, .item-category ul li a:focus{text-decoration: none;}
.cnt-productos>.row{margin-left: -8px;margin-right: -8px;}
.cnt-productos>.row>.col-md-4{padding-left: 8px;padding-right: 8px;}
.item-product{padding: 25px;background: #fff;border-radius: 20px;-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);overflow: hidden;margin-bottom: 16px;}
.item-product h2{margin-top: 0;margin-bottom: 12px;height: 25px;overflow: hidden;}
.item-product h2 a{display: block;font-size: 23px;color: #363636;font-weight: 400;}
.item-product p{line-height: 130%;font-size: 13px;color: #9b9b9b;font-weight: 400;margin-bottom: 28px;height: 32px;overflow: hidden;}
.item-product figure{margin-left: -25px;margin-right: -25px;margin-bottom: -25px;}
.item-product figure img{width: 100%;}
.item-product .b-prec{font-size: 23px;color: #363636;font-weight: 400;margin-bottom: 15px;line-height: 100%;height: 23px;overflow: hidden;}
/*Cupon*/
.b-cupon .wrapper{padding: 0;}
.header-cupon{padding: 60px 0;background: url(../img/bg-cupon.jpg) no-repeat;background-size: cover;background-position: center center;}
.item-cupon{border-radius: 20px;width: 550px;padding: 40px;margin: 0 auto;background: #fff;}
.logo-cupon{color: #363636;font-size: 23px;font-weight: 400;margin-bottom: 20px;}
.logo-cupon>span{display: inline-block;vertical-align: middle;border-radius: 5px;overflow: hidden;margin-right: 10px;}
.logo-cupon>span img{width: 60px;height: 60px;}
.item-cupon p{color: #9b9b9b;font-size: 19px;line-height: 130%;font-weight: 400;margin-bottom: 20px;}
.desc-ut>span{color: #363636;font-size: 23px;font-weight: 400;margin-top: 6px;}
.desc-ut a{line-height: 50px;padding: 0 50px;}
.desc-ut a:hover, .desc-ut a:active, .desc-ut a:focus{text-decoration: none;}
.content-cupon{padding: 30px 0;}
.body-cupon{width: 550px;margin: 0 auto;}
.body-cupon h3{color: #363636;font-size: 23px;font-weight: 400;margin-top: 0;margin-bottom: 10px;}
.body-cupon p{font-size: 13px;color: #9b9b9b;line-height: 130%;margin-bottom: 40px;}
.body-cupon img{width: 100%;}
.cnt-relacionados{padding: 30px 0;}
.inner-relacionados h3{margin-top: 0;margin-bottom: 30px;text-align: center;color: #363636;font-size: 31px;font-weight: 400;}
.inner-relacionados>.row{margin-left: -8px;margin-right: -8px;}
.inner-relacionados>.row>.col-md-4{padding-right: 8px;padding-left: 8px;}
/*Perfil user*/
.cnt-perfil-user{padding-top: 20px;padding-bottom: 20px;}
.user-nav{margin-bottom: 15px;}
.user-nav ul{text-align: center;}
.user-nav ul li{display: inline-block;margin-left: 33px;margin-right: 33px;}
.user-nav ul li a{color: #9b9b9b;font-size: 21px;font-weight: 400;}
.user-nav ul li a.active{color: #363636;font-family: "AkkuratBold", arial;}
.user-nav ul li a:hover, .user-nav ul li a:active, .user-nav ul li a:focus{text-decoration: none;}
.cnt-user-info{padding: 40px;background: #fff;border-radius: 20px;-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);width: 550px;margin: 0 auto;}
.cnt-user-info button{margin:0 auto;width: 190px;display: block;margin-top: 25px;}
.cnt-user-info label{font-size: 16px;color: #b8c1cb;font-weight: 400;}
.cnt-user-info input, .cnt-user-info select, .custon-modal input.form-control, .cnt-form-tw select{border:1px solid #d3dce6;border-radius: 3px;height: 52px;box-shadow: 0 0 0;font-size: 18px;color: #000a12;font-weight: 400;padding-right: 42px;}
.cnt-input{position: relative;}
.cnt-input .glyphicon{position: absolute;top: 15px;right: 10px;font-size: 25px;color: #ccc;}
.cnt-input .ico-success{color: #13cb65;}
.cnt-puntos{padding: 40px;background: #fff;border-radius: 20px;-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);}
.cnt-filter-s{margin-bottom: 15px;}
.cnt-filter-s select{width: 280px;border:1px solid #d3dce6;border-radius: 3px;height: 52px;box-shadow: 0 0 0;font-size: 18px;color: #000a12;font-weight: 400;margin: 0 auto;}
.cnt-puntos table thead tr th{color: #4a4a4a;font-size: 19px;font-family: "AkkuratBold", arial;}
.cnt-puntos table tbody tr td{font-size: 18px;color: #9b9b9b;font-weight: 400;padding: 10px;}
/*404*/
.cnt-ups{text-align: center;padding-top: 80px;padding-bottom: 300px;}
.cnt-ups p{font-size: 29px;color: #000000;font-weight: 400;margin-bottom: 0;font-family: "AkkuratBold", arial;}
/*login*/
.main-login{padding-top: 110px;padding-bottom: 270px;background: url(../img/bg-login.jpg) no-repeat;background-size: cover;background-position: center center;}
.inner-login p{margin-bottom: 80px;font-size: 23px;color: #fff;text-align: center;text-shadow: 1px 2px 1px rgba(0,0,0,0.8);font-family: "AkkuratBold", arial;}
.inner-login form{width: 430px;margin: 0 auto;}
.inner-login form input{height: 50px;border-radius: 3px;border:0;}
.inner-login form .form-group{margin-bottom: 25px;}
.btn-belcorp{height: 50px;border:0;border-radius: 25px;background: #0078e8;padding: 0;text-align: center;color: #fff;font-size: 21px;}
.btn-belcorp:hover, .btn-belcorp:active, .btn-belcorp:focus{color: #fff;opacity: 0.9;}
.inner-login form button{width: 100%;}
/*Modal*/
.custon-modal .modal-dialog{width: 550px;}
.modal-backdrop.in{opacity: 0.6;}
.custon-modal .modal-content{border:0;border-radius: 15px;padding: 40px;}
.cnt-logo-m{margin-bottom: 20px;}
.custon-on h3{margin-bottom: 12px;font-size: 23px;color: #363636;font-weight: 400;margin-top: 0;}
.custon-on p{margin-bottom: 30px;font-size: 21px;color: #4a4a4a;line-height: 130%;font-family: "AkkuratBold", arial;}
.custon-modal .btn-belcorp{width: 190px;margin: 0 auto;display: block;line-height: 50px;}
.custon-modal .star-ico{position: absolute;top: 15px;right: 15px;font-size: 20px;color: #009dff;cursor: pointer;}
.line-v{margin-left: -40px;margin-right: -40px;height: 2px;background: #cecece;margin-top: 30px;margin-bottom: 30px;}
.custon-modal p.desc{font-size: 21px;color: #363636;font-weight: 700;line-height: 120%;margin-bottom: 15px;font-family: "AkkuratBold", arial;}
.text-custom-ch{text-align: center;margin-bottom: 20px;}
.text-custom-ch label{font-size: 13px;color: #4a4a4a;font-family: "AkkuratLightRegular", arial;}
.text-custom-ch label a{text-decoration: underline;color: #4a4a4a;font-family: "AkkuratLightRegular", arial;}
p.m-text{font-size: 19px;color: #9b9b9b;margin-bottom: 20px;}
.cnt-form-on .form-group, .cnt-form-tw .form-group{margin-bottom: 25px;}
.cnt-form-on label{display: block;text-align: center;font-size: 19px;color: #4a4a4a;margin-bottom: 20px;}
.cnt-form-on input{text-align: center;}
.cnt-form-tw  .form-group>label{font-size: 16px;color: #b8c1cb;font-weight: 400;}
.list-change{position: relative;margin-bottom: 25px;}
.list-change p{font-size: 23px;color: #363636;line-height: 110%;padding-right: 205px;margin-bottom: 0;}
.list-change .btn-belcorp{position: absolute;top: 0;right: 0}
.cnt-cu-pre{margin-bottom: 25px;}
.inner-cu-pre{position: relative;margin-bottom: 5px;}
.inner-cu-pre p{font-size: 23px;color: #363636;padding-right: 100px;margin-bottom: 0;}
.inner-cu-pre>span{font-size: 23px;color: #363636;position: absolute;top: 2px;right: 0;}
.cnt-puntos-es{margin-bottom: 25px;}
.cnt-puntos-es p{text-align: center;font-size: 23px;color: #363636;margin-bottom: 16px;font-family: "AkkuratBold", arial;}
.cnt-puntos-es input{width: 210px;margin: 0 auto;}
.margin-b-r{margin-bottom: 0;}
.cnt-cont-uso{margin-bottom: 30px;}
.cnt-cont-uso h3{margin-top: 0;margin-bottom: 5px;color: #363636;font-size: 23px;font-weight: 700;}
.cnt-cont-uso p{line-height: 130%;font-size: 13px;color: #9b9b9b;}
.custon-modal.fade.in{background: rgba(0,0,0,0.6);}
/*search*/
.search-custon{margin-right: 15px;position: relative;}
.search-custon input{border: 1px solid #d8d8d8;padding-left: 40px;border-radius: 5px;width: 250px;margin-top: 15px;height: 40px;}
.search-custon button{position: absolute;left: 10px;top: 7px;background: none;border: 0;outline: 0;padding: 0;}
.search-custon button span{font-size: 25px;}
/*Footer*/
footer{background: #000;padding: 50px 0;}
.bloque-f h4{margin-top: 0;margin-bottom: 25px;color: #fff;font-size: 19px;font-family: "proxima_nova_semibold", arial;}
.bloque-f ul li{margin-bottom: 20px;}
.bloque-f ul li a,.bloque-f ul li{display: block;color: #fff;font-size: 19px;font-family: "proxima_nova_thin", arial;}
@media only screen and (max-width: 2000px){

}
@media only screen and (max-width: 992px){
    /*Display none provicional*/
    .cnt-city{display: none;}
    .nav-search-f{display: none;}
    /**/
}
@media only screen and (max-width: 768px){
    .bloque-f ul{text-align: center;margin-bottom: 30px;}
    .bloque-f ul li{margin-bottom: 10px;}
    .bloque-f h4{text-align: center;}
    footer{padding: 50px 0 10px 0;}
    .item-cupon{width: 100%;}
    .body-cupon{width: 100%;}
    .cnt-user-info{width: 100%;}
    .custon-modal .modal-dialog{width: auto;}
    .custom-nav-bar .navbar-brand>img{width: 140px;}
    .custom-nav-bar .collapse.in{border-bottom: 1px solid #ddd;}
    header{height: 50px;}
    header nav{min-height: 50px!important;}
    .list-menu-m{display: block;}
    .user-list{display: none;}
}
@media only screen and (max-width: 600px){
    .inner-login form{width: 100%;}
    .inner-login p{margin-bottom: 40px;}
}
@media only screen and (max-width: 480px){
    .main-login{padding-bottom: 120px;}
    .cnt-filter-s select{width: 100%;}
    .cnt-puntos{padding: 20px;}
    .cnt-user-info{padding: 20px;}
    .custon-modal .modal-content{padding: 40px 15px;}
    .line-v{margin-left: -15px;margin-right: -15px;}
    .list-change p{margin-bottom: 15px;padding-right: 0;}
    .list-change .btn-belcorp{position: static;margin-bottom: 20px;}
}